body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.links {
    font-weight: bold;
}